<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936582433532-td88qpjadnrej9db08nhdclmq9ckhh62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936582433532-td88qpjadnrej9db08nhdclmq9ckhh62</string>
	<key>API_KEY</key>
	<string>AIzaSyCkx08KdTnn2-QxmezftGgnJAIWULRKomA</string>
	<key>GCM_SENDER_ID</key>
	<string>936582433532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>OBE.EventLM</string>
	<key>PROJECT_ID</key>
	<string>eventlm</string>
	<key>STORAGE_BUCKET</key>
	<string>eventlm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936582433532:ios:8b4c632783327be4062579</string>
	<key>DATABASE_URL</key>
	<string>https://eventlm-default-rtdb.firebaseio.com</string>
</dict>
</plist>